# Métodos generales

In [ ]:
#A puede ser una lista, string, diccionario, set, tupla
a = {1,2,3,4}

posicion = 2

min(a)
max(a)
len(a)
sum(a)

all(a)
any(a)


sorted(a) # Si a es un set devuelve una lista

sorted(a, key = ...)

is_valor= 1 in a # True si 1 está en la lista a

# No usables con tuplas porque editan
a.pop(posicion)
a.add(5)
a.remove(posicion)
a.index(3) # Devuelve la posicion del elemento 3 (Pos = 2)

10

# Strings

Contar longitud del string (por letras)

In [ ]:
str = "Hello world"
len(str)

Elimina espacios al principio y al final de un string

In [ ]:
str = "     banana     "
str.strip()

Sustituir las cadenas de un string por otra introducida

In [1]:
str = "a, b, c, d, e"

aSustituir = ", "
sustituto = "-"

str.replace(aSustituir, sustituto)

'a-b-c-d-e'

Contar apariciones de una cadena (no solapadas)

In [4]:
str = "la" * 3 + "ba" + "la"
str.count("la")

4

In [ ]:
str = "aaa"
#Devuelve 1 y no 3 porque son no solapables
str.count("aa")

Separa un string en una lista de elementos separados por el string indicado

In [11]:
str = "Soy una cadena de texto"
str.split() # Por defecto se usa el carácter " "

['Soy', 'una', 'cadena', 'de', 'texto']

# Diccionarios

Operaciones básicas de diccionarios

In [5]:
dict1 = {"rojo":"red", "azul":"blue", "verde": "green"} # Definir 
dict1["rojo"] # Obtiene el diccionario asignado a la key

dict1["morado"]= "purple" # Añadir entrada
dict1["morado"] = "violet" #Modificar entrada

del(dict1["rojo"]) # Elimina entrada del diccionario

for key in dict1: # Recorre las keys del diccionario
    print(dict1[key])

blue
green
violet

Ordena diccionario alfabeticamente por la key

In [6]:
dict1 = {"rojo":"red", "azul":"blue", "verde": "green"}
sorted(dict1)

['azul', 'rojo', 'verde']

Convertir un diccionario en una lista de tuplas (key, valor)

In [7]:
dict1 = {"rojo":"red", "azul":"blue", "verde": "green"}

dict1.items()

dict_items([('rojo', 'red'), ('azul', 'blue'), ('verde', 'green')])

Convertir una lista de tuplas en un diccionario

In [10]:
listaTuplas = [('rojo', 'red'), ('azul', 'blue'), ('verde', 'green')]
dict(listaTuplas)

{'rojo': 'red', 'azul': 'blue', 'verde': 'green'}

# Listas

Operaciones básicas de listas

In [ ]:
lista1 = ["azul", "rojo", "violeta", "carmesí", "granate"] # Crear lista

Convertir cadena a lista

In [5]:
list("alpaca")

['a', 'l', 'p', 'a', 'c', 'a']

Obtener parte de una lista:

In [ ]:
lista1 = ["a", "b", "c", "d", "e", "f", "g", "h"]

print(lista1[1:3]) # Coge del elemento 1 (incl) al elemento 3 (sin inc)
print(lista1[:3]) # Coge los tres primeros elementos (inc)
print(lista1[3:]) # Coge todos los elementos a partir del tercero (sin inc)

print("-------")

print(lista1[-1]) # Obtiene el último elemento
print(lista1[-3:]) # Devuelve los tres ultimos elementos (inc)
print(lista1[:-3]) # devuelve todos los elementos menos los dos últimos (sin inc)

['b', 'c']
['a', 'b', 'c']
['d', 'e', 'f', 'g', 'h']
-------
h
['f', 'g', 'h']
['a', 'b', 'c', 'd', 'e']

# Elementos intensionales / Generadores

Se puede usar con listas/conjuntos/diccionarios/generadores

In [ ]:
setIntensional = (x**2 for x in range(10))
setIntensional

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
pares = [x for x in range(10) if x % 2 == 0]
pares

[0, 2, 4, 6, 8]

In [ ]:
cuadrados_dict = {x: x**2 for x in range(5)}
cuadrados_dict

In [2]:
# Solo se guarda en memoria la fórmula. Ocupa menos en memoria
generadorIntensional = (x**2 for x in range(10))
print(generadorIntensional)

#Se recorre con next(gen)
next(generadorIntensional) #0
next(generadorIntensional) #1
next(generadorIntensional) #4
next(generadorIntensional) #9

<generator object <genexpr> at 0x0000021F8F47A9B0>

9

# Sets/Conjuntos

Operaciones básicas de conjuntos

In [2]:
set1 = set() # Crea set vacío
set1 = {1,2,3} # Crea set con elementos

min(set1) # devuelve el mínimo valor del set
max(set1) # devuelve el máximo valor del set

set1.remove(1) # elimina eel valor 1 (da error si no está)
set1.add(4) # añade el valor 4

Transformar una lista en un set

In [3]:
lista1 = [1,2,3,1,5,6,2]

# transforma eliminando los duplicados
set1 = set(lista1)

set1

{1, 2, 3, 5, 6}

Subconjuntos y relaciones de sets:

In [ ]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}

s1.issubset(s2)       # True si TODOS los elementos de s1 están en s2
s1.issuperset(s2)     # True si TODOS los elementos de s2 están en s1
s1.isdisjoint(s2)     # True si NO tienen elementos en común

#Difference
s1 - s2
s1.difference(s2)

#Symmetric difference
s1 ^ s2
s1.symmetric_difference(s2)

# Tuplas

Operaciones básicas de tuplas

In [ ]:
tupla = (100, 200, 300, 500)
tupla[1]  #devuelve el valor del índice 1



maximo = max(tupla)
minimo = min(tupla)
length = len(tupla)

#...

print(maximo, minimo, length)

IMPORTANTE: LAS TUPLAS SON INMUTABLES

In [ ]:
tupla = (100, 200, 300, 500)
tupla[1] = 10 # DARÁ ERROR

# Función

Definción y llamada de función

In [ ]:
#Si no se pone el valor de c, c será 0
def funcion1(a, b, c=0):
    respuesta = a+b+c
    return respuesta

resp1 = funcion1(1,3,5)
resp2 = funcion1(1,3)

Función que usa métodos de tipo posicionales, nominales y una variable que almacena una tupla de valores extra insertados.
Un ejemplo de esto es el print

In [ ]:
def funcion2 (a, b, *c, d=0, e=0):
    valoresBase = str(a) + "-" + str(b)
    valoresExtra = c
    valoresOpcionales = str(d) + "-" + str(e)
    return valoresBase, valoresExtra, valoresOpcionales

b1, e1, o1 = funcion2 (1,2)
print(b1,"-----" ,e1, "----", o1)

b2, e2, o2 = funcion2 (1,2,3,4,5)
print(b2,"-----" ,e2, "----", o2)

b3, e3, o3 = funcion2 (1,2,3,4, d=5, e=3)
print(b3,"-----" ,e3, "----", o3)

Exclusión de paso de parámetro por tipo

In [ ]:
def funcion3(a, /, b, *, c):
    return a+b+c

# a solo se puede pasar por posición
# b se puede pasar tanto por posición como por parámetro
# c solo se puede pasar por parámetro

# Función lambda

Expresiones equivalentes

In [16]:
#Definición de funcion suma de la forma tradicional
def añadir(x,y):
    return x + y

#Definición de suma como función lambda
lambda x, y : x + y

Ejemplo usando un if en la exp. lambda

In [7]:
elem = 3

# Elevar al cuadrado si es impar
func1 = lambda x: x ** 2 if (x % 2 ==1) else x 
print(func1(3))

9

Map -> Introducir una lista de elementos y devuelve lista de elementos


Filter -> Introducir una lista de elementos y devuelve otra lista de elementos igual o menor

Reduce -> Introducir una lista de elementos y devuelve un elemento

Uso de map con Lambda:

In [21]:
lst = ["a", "b", "c", "d"]

list(map(lambda x: x.upper(), lst))

['A', 'B', 'C', 'D']

Uso de filter con Lambda:

In [20]:
lst = [(1,2), (2,4),(1,1),(3,5),(1,0),(2, -1)]

list(filter(lambda t: sum(t) > 3, lst))

[(2, 4), (3, 5)]

Uso de reduce con Lambda:

In [ ]:
from functools import reduce
lst = [3, 2, 4, 5, 2, 8, 10]

valorInicio = 0 #Valor inicial del reduce. Se puede no poner

reduce(lambda  acc, x: acc + x, lst, valorInicio)

34

## Excepciones

In [ ]:
try:
    a, b = input("Dame dos valores")
    print("Todo ok")
except:
    print("error")

# Clases

Alcance de variables:

 - variable - publico

 - _variable - uso interno en función

 - __variable - privado

Creación de clases

In [ ]:
class Libro:
    def __init__(self, titulo, autor, isbn, disponible = False):
        self.titulo = titulo
        self.autor = autor
        self.isbn = isbn
        self.disponible = disponible
    
libro = Libro("tituloLibro", "Paco", "88848454515", True)

Métodos importantes que se pueden sobreescribir:

In [ ]:
"""
--OPERACIONES MATEMÁTICAS--

+	__add__(self, other)	
-	__sub__(self, other)	
*	__mul__(self, other)	
/	__truediv__(self, other)	
//	__floordiv__(self, other)	
%	__mod__(self, other)	
**	__pow__(self, other)	

--OPERACIONES LÓGICAS--
==	__eq__(self, other)
!=	__ne__(self, other)
<	__lt__(self, other)
<=	__le__(self, other)
>	__gt__(self, other)
>=	__ge__(self, other)


--MÁS--
Informal (print)	__str__(self)	print(obj)

len(obj)	__len__(self)
int(obj)	__int__(self)
float(obj)	__float__(self)
bool(obj)	__bool__(self)

"""

# Uso de archivos

Abrir (crear si no existe) y cerrar

In [ ]:
# Tipos de interacción con archivo
# "r" -> lectura
# "r+"" -> lectura y escritura
# "a" -> añade al final
# "w" -> sobreescribes archivo

archivo = open("el_quijote.txt", "r", encoding="utf-8")
archivo.close()


Operaciones con documentos de texto

In [ ]:
with open("el_quijote.txt", "r", encoding="utf-8") as archivo:
    string = archivo.read() #devuelve una string del archivo
    string = archivo.readline() # devuelve la x linea del archivo
    list = archivo.readlines() # devuelve una lista con las lineas del archivo

Operaciones con JSON

In [ ]:
import json

# Reescribe el json

data = {
    "libros": "self.libros",
    "usuarios": "self.usuarios"
}

with open("book.json", "w") as f:
    json.dump(json_data, f, indent="\t")

# Convierte el json en un diccionario
with open("book.json", "r") as f:
    json_data = json.load(f)

# Búsqueda de secuencias

In [ ]:
"""

    ESTRUCTURA:
    secuencia =     r"secuencia" 

    r"" -> no interpretar carácteres especiales

    \d	Cualquier dígito (0-9)
    \D  Complementario a \d
    \w	Cualquier carácter alfanumérico
    \s	Cualquier espacio en blanco
    \S  Complementario a \s
    \b  Inicio/fin de palabra (depende de si lo pnes antes/después)
    .	Cualquier carácter (excepto salto de línea)
    +	Uno o más
    *	Cero o más
    ?	Cero o uno
    ^   Busca al inicio de cada línea
    {n}	Exactamente n repeticiones
    [...]	Un conjunto de caracteres
    (...)	Captura de grupos
    |   OR lógico

    \w{7} -> equivalente a siete words

"""

Uso de re.findall

In [1]:
import re

texto = "El teléfono de Ana es 654-123-456 y el de Luis es 600-222-333."
patron = r"\d{3}-\d{3}-\d{3}"


resultados = re.findall(patron, texto)
print(resultados)

['654-123-456', '600-222-333']

Uso de re.split

In [33]:
import re

texto = "El teléfono de Ana es 654-123-456 y el de Luis es 600-222-333."
patron = r"\d{3}-\d{3}-\d{3}"


resultados = re.split(patron, texto)
print(resultados)

['El teléfono de Ana es ', ' y el de Luis es ', '.']

Búsqueda de múltiples carácteres

In [ ]:

re.findall(r"(?:to)+do", "eso es tototototototototodo amigos todo toooooooooodo totototodo")

['todo', 'todo', 'do', 'todo']

In [31]:
re.findall(r"(?:to)?+do", "eso es tototototototototodo amigos todo toooooooooodo totototodo")

['todo', 'todo', 'do', 'todo']