### Unit 15: Sets

In [2]:
lista = [1,2,3,2,3,5,0,10,21,11]

len(lista)

10

In [3]:
set(lista)

{0, 1, 2, 3, 5, 10, 11, 21}

In [5]:
# Aunque salga en orden, NO asumir que hay orden
for element in set(lista):
    print(element)

0
1
2
3
5
10
11
21

In [6]:
# Lo correcto sería ordenar SIEMPRE
for element in sorted(set(lista)):
    print(element)

0
1
2
3
5
10
11
21

In [7]:
mi_set = set(lista)
mi_set

{0, 1, 2, 3, 5, 10, 11, 21}

In [8]:
pos = -1

for i, x in enumerate(lista):
    if x == 11:
        pos = i
        break
        
pos

9

In [9]:
11 in mi_set

True

In [11]:
mi_set.add(7)
mi_set

{0, 1, 2, 3, 5, 7, 10, 11, 21}

In [12]:
mi_set.add(2)
mi_set

{0, 1, 2, 3, 5, 7, 10, 11, 21}

In [14]:
if 2 not in mi_set:
    mi_set.add(2)

else:
    print("2 ya está en el set")

2 ya está en el set

In [15]:
# Eliminamos el elemento 2
mi_set.remove(2)

In [16]:
# Volver a eliminar 2
mi_set.remove(2)

KeyError: 2

In [17]:
# Siempre que queramos borrar, comprobamos primero
if 2 in mi_set:
    # Volver a eliminar 2
    mi_set.remove(2)

In [21]:
import random

s1 = {random.randint(1, 20) for _ in range(5)}
s2 = {random.randint(1, 20) for _ in range(5)}

s1, s2

({3, 10, 11, 12, 17}, {3, 9, 11, 12})

In [22]:
# Union
s1 | s2

{3, 9, 10, 11, 12, 17}

In [23]:
# Intersección
s1 & s2

{3, 11, 12}

In [24]:
# Diferencia
s1 - s2

{10, 17}

In [25]:
# Diferencia simétrica
s1 ^ s2

{9, 10, 17}

In [26]:
# Diferencia simétrica (hecha a "mano")
(s1 - s2) | (s2 - s1)

{9, 10, 17}

In [27]:
# Diferencia simétrica (hecha a "mano") 2.0
(s1 | s2) - (s2 & s1)

{9, 10, 17}

In [31]:
s1 = {1,2,3}
s2 = {4,5,6}

len(s1 & s2) == 0, s1.isdisjoint(s2)

(True, True)

In [35]:
s1 = {1,2,3,4}
s2 = {1,2,3}

s1.issuperset(s2), s2.issuperset(s1), s1.issubset(s2), s2.issubset(s1)

(True, False, False, True)

In [38]:
# Comparación de set
s1 = {1,2,3}
s2 = {4,5,6}

s1 == s2, len(s1 & s2) == len(s1) == len(s2), len(s1 | s2) == len(s1) == len(s2)

(False, False, False)

In [42]:
# Subset de otro
s1 = {1,2,3,4,7}
s2 = {1,2,3,5}

# s2 es subset de s1
s2 < s1

False

In [43]:
# Subset de otro
s1 = {1,2,3,4}
s2 = {1,2,3}

# s2 es subset de s1
s2 < s1

True

In [44]:
# s1 es superset de s2
s1 > s2

True

In [47]:
# set de los primeros 100 números naturales, que sean divisibles entre 3
mi_set = {i for i in range(1, 101) if i % 3 == 0}
#mi_set

In [50]:
# set de los primeros 100 números naturales. Los que NO sean divisibles entre 3, se pondrán en negativo.
mi_set2 = {i if i % 3 == 0 else -i for i in range(1, 101)}
#mi_set2

In [56]:
# Descuento si persona menor de 26 años
age = int(input("años:"))
discount = -10 if age <= 26 else 0

discount

años:25

-10

In [57]:
# Funciones "all" y "any"

ages = [20, 21, 32, 18, 19, 25]

# Contestar a dos preguntas:
# 1. ¿Todos los alumnos tienen menos de 30 años?
# 2. ¿Hay algún alumno de 18 años?

p1 = True

for age in ages:
    if age >= 30:
        p1 = False
        break
        
p2 = False

for age in ages:
    if age == 18:
        p2 = True
        break
        
p1, p2

(False, True)

In [62]:
ages = [20, 21, 32, 18, 19, 25]

# Lista para pregunta 1
p1s = [age < 30 for age in ages]

# Lista para pregunta 2
p2s = [age == 18 for age in ages]

all(p1s), any(p2s)

(False, True)

In [65]:
# Función zip

keys = ['a', 'b', 'c', 'b', 'd']
values = [1, 3, 3, 1]
mult = [2, 3, 2]

for k, v, m in zip(keys, values, mult):
    print(k, v, m)

a 1 2
b 3 3
c 3 2

In [67]:
# Enumerate desgranado
for i, k in zip(range(len(keys)), keys):
    print(i, k)
    
print()
    
for i, k in enumerate(keys):
    print(i, k)

0 a
1 b
2 c
3 b
4 d

0 a
1 b
2 c
3 b
4 d

In [68]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables) --> A zip object yielding tuples until an input is exhausted.
 |
 |     >>> list(zip('abcdefg', range(3), range(4)))
 |     [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]
 |
 |  The zip object yields n-length tuples, where n is the number of iterables
 |  passed as positional arguments to zip().  The i-th element in every tuple
 |  comes from the i-th iterable argument to zip().  This continues until the
 |  shortest argument is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.