# Ejercicios de la Librería Pandas

In [13]:
import numpy as np
import pandas as pd

## Ejercicio 1

Escribir un programa que pregunte al usuario por las ventas de un rango de años y muestre por pantalla una serie con los datos de las ventas indexada por los años, antes y después de aplicarles un descuento del 10%.

In [ ]:
inicial = 2020
final = 2025
datos = []

for anyo in range(inicial, final+1):
    datos.append(float(input("Dame el precio del anyo ")))

s1 = pd.Series(datos, index = range(inicial, final + 1))

## Ejercicio 2

Escribir una función que reciba un diccionario con las notas de los alumno de un curso y devuelva una serie con la nota mínima, la máxima, media y la desviación típica.

In [ ]:
prueba = {"María": 7.8, "Nuria":6.7, "Pepe": 8.2, "Juan":3.5}

def ejerc2(dict):
    s1 = pd.Series(prueba)

    min = s1.min()
    max = s1.max()
    des_tip = s1.std()

    s2 = pd.Series([min, max, des_tip], index  = ["min", "max", "des_tip"])

    return s2

ejerc2(prueba)

min        3.500000
max        8.200000
des_tip    2.129945
dtype: float64

## Ejercicio 3

Escribir una función que reciba un diccionario con las notas de los alumnos de un curso y devuelva una serie con las notas de los alumnos aprobados ordenadas de mayor a menor.

In [4]:
prueba = {"María": 7.8, "Nuria":6.7, "Pepe": 8.2, "Juan":3.5}

def ejerc2(dict):
    s1 = pd.Series(prueba)
    s1 = s1.sort_values(ascending = False )
    s1 = s1.drop(s1[s1 < 5].index)

    return s1

ejerc2(prueba)

Pepe     8.2
María    7.8
Nuria    6.7
dtype: float64

## Ejercicio 4
Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:

| Mes     | Ventas | Gastos |
|---------|-------:|-------:|
| Enero   |  30500 |  22000 |
| Febrero |  35600 |  23400 |
| Marzo   |  28300 |  18100 |
| Abril   |  33900 |  20700 |

In [6]:
df4 = pd.DataFrame({
    'Mes': ["Enero", "Febrero", "Marzo", "Abril"],
    'Ventas':[30500,35600,28300, 33900],
    'Gastos':[22000,23400,18100,20700]
    
})

df4

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700

## Ejercicio 5

Escribir una función que reciba un DataFrame con el formato del ejercicio anterior, una lista de meses, y devuelva el balance (ventas - gastos) total en los meses indicados.

In [ ]:
df4["balance"] = df4["Ventas"] - df4["Gastos"]
df4["balance"].sum


# def Ejerc5(df, meses):

<bound method Series.sum of 0     8500
1    12200
2    10200
3    13200
Name: balance, dtype: int64>

## Ejercicio 6

El fichero [cotizacion.csv](https://aprendeconalf.es/docencia/python/ejercicios/soluciones/pandas/cotizacion.csv) contiene las cotizaciones de las empresas del IBEX35 con las siguientes columnas: nombre (nombre de la empresa), Final (precio de la acción al cierre de bolsa), Máximo (precio máximo de la acción durante la jornada), Mínimo (precio mínimo de la acción durante la jornada), volumen (Volumen al cierre de bolsa), Efectivo (capitalización al cierre en miles de euros). Construir una función que construya un DataFrame a partir del un fichero con el formato anterior y devuelva otro DataFrame con el mínimo, el máximo y la media de dada columna.

In [30]:
df = pd.read_csv("../Utils_IA/cotizacion.csv", thousands=".", sep=";", decimal=",", index_col = 0)
pd.DataFrame({  "Min":df.min(), "Max":df.max(), "Media": df.mean()})

                Min          Max         Media
Final        1.0165     19705.00  2.796769e+03
Máximo       4.0675     19875.00  3.170113e+03
Mínimo       1.0165     19675.00  3.136510e+03
Volumen   1221.0000  36129692.00  4.252279e+06
Efectivo  2343.0900    145765.44  3.176778e+04

## Ejercicio 7

El fichero [titanic.csv](https://aprendeconalf.es/docencia/python/ejercicios/soluciones/pandas/titanic.csv) contiene información sobre los pasajeros del Titanic. Escribir un programa con los siguientes requisitos:

1. Generar un DataFrame con los datos del fichero.
1. Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas
1. Mostrar por pantalla los datos del pasajero con identificador 148.
1. Mostrar por pantalla las filas pares del DataFrame.
1. Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.
1. Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.
1. Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.
1. Eliminar del DataFrame los pasajeros con edad desconocida.
1. Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.
1. Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.
1. Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.

In [ ]:
df = pd.read_csv("../Utils_IA/titanic.csv", index_col = 0)

print("Ejercicio 1")
print(df)
print(df.shape)
print(df.dtypes)

print("Ejercicio 2")
print(df.head(10))
print(df.head(10))

print("Ejercicio 3")
print(df.loc[148])

print("Ejercicio 4")

print("Ejercio 6")
print("Sobrevivieron", df.Survived.value_counts(normalize= True)[1] * 100)

Ejercicio 1
             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
...               ...     ...
887                 0       2
888                 1       1
889                 0       3
890                 1       1
891                 0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
...                                                        ...     ...   ...
887                                      Montvila, Rev. Juozas    male  27.0
888                               Graham, Miss. Margaret Edith  female  19.0
889                   Johnston, Miss. Catherine Helen "Carrie"  female   NaN
890                                      Behr, Mr. Karl Howell    male  26.0
891                                        Dooley, Mr. Patrick    male  32.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
...            ...    ...               ...      ...   ...      ...
887              0      0            211536  13.0000   NaN        S
888              0      0            112053  30.0000   B42        S
889              1      2        W./C. 6607  23.4500   NaN        S
890              0      0            111369  30.0000  C148        C
891              0      0            370376   7.7500   NaN        Q

[891 rows x 11 columns]
(891, 11)
Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object
Ejercicio 2
             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
6                   0       3
7                   0       1
8                   0       3
9                   1       3
10                  1       2

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
6                                             Moran, Mr. James    male   NaN
7                                      McCarthy, Mr. Timothy J    male  54.0
8                               Palsson, Master. Gosta Leonard    male   2.0
9            Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0
10                         Nasser, Mrs. Nicholas (Adele Achem)  female  14.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
6                0      0            330877   8.4583   NaN        Q
7                0      0             17463  51.8625   E46        S
8                3      1            349909  21.0750   NaN        S
9                0      2            347742  11.1333   NaN        S
10               1      0            237736  30.0708   NaN        C
             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
6                   0       3
7                   0       1
8                   0       3
9                   1       3
10                  1       2

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
6                                             Moran, Mr. James    male   NaN
7                                      McCarthy, Mr. Timothy J    male  54.0
8                               Palsson, Master. Gosta Leonard    male   2.0
9            Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0
10                         Nasser, Mrs. Nicholas (Adele Achem)  female  14.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
6                0      0            330877   8.4583   NaN        Q
7                0      0             17463  51.8625   E46        S
8                3      1            349909  21.0750   NaN        S
9                0      2            347742  11.1333   NaN        S
10               1      0            237736  30.0708   NaN        C
Ejercicio 3
Survived                                   0
Pclass                                     3
Name        Ford, Miss. Robina Maggie "Ruby"
Sex                                   female
Age                                      9.0
SibSp                                      2
Parch                                      2
Ticket                            W./C. 6608
Fare                                  34.375
Cabin                                    NaN
Embarked                                   S
Name: 148, dtype: object
Ejercicio 4
Ejercio 6
Sobrevivieron 38.38383838383838