# Excepciones

In [1]:
def f():
    a = {}
    return a[0]

In [2]:
f()

KeyError: 0

In [4]:
def g():
    with open("noexiste.txt") as f:
        return f.read()
    
g()

FileNotFoundError: [Errno 2] No such file or directory: 'noexiste.txt'

In [13]:
def h():
    return 1/0

h()

ZeroDivisionError: division by zero

In [20]:
try:
    print("ejecuto un print")
    # h() # provoca DivisionByZero
    # f() # provoca KeyError
    g() # provoca FileNotFoundError
    print("otro print")
except KeyError as e:
    print("No encuentra clave",e)
except Exception as e:
    print("Otro tipo de error",e)
else:
    print("No se ha producido ninguna excepción en el try")
finally:
    print("esto se imprime pase lo que pase")

ejecuto un print
Otro tipo de error [Errno 2] No such file or directory: 'noexiste.txt'
esto se imprime pase lo que pase

In [21]:
a,b = [1,2,3]

ValueError: too many values to unpack (expected 2)

In [22]:
int("casa")

ValueError: invalid literal for int() with base 10: 'casa'

## Ejemplo uso try except

In [23]:
try:
    a,b = input("Introduce dos valores: ").split()
    r = int(a) / int(b)
    print(f"{a} / {b} = {r}")
except:
    print("Check if numbers are correct")

Introduce dos valores: 1 2 3
Check if numbers are correct

In [29]:
while True:
    try:
        a,b = input("Introduce dos valores: ").split()
        r = int(a) / int(b)
        break
    except:
        print("Check if numbers are correct")
print(f"{a} / {b} = {r}")

Introduce dos valores: 1 2 3
Check if numbers are correct
Introduce dos valores: hola casa
Check if numbers are correct
Introduce dos valores: 20 0
Check if numbers are correct
Introduce dos valores: 20 2
20 / 2 = 10.0

In [31]:
ok = False
while not ok:
    try:
        a,b = input("Introduce dos valores: ").split()
        try:
            a, b = int(a), int(b)
            try:
                r = a/b
                print(f"{a} / {b} = {r}")
                ok = True
            except ZeroDivisionError:
                print("No es posible dividir entre cero")
        except ValueError:
            print("Alguno no era un número entero")            
    except ValueError:
        print("No eran dos valores")

Introduce dos valores: 1 2 3
No eran dos valores
Introduce dos valores: 2 casas
Alguno no era un número entero
Introduce dos valores: 20 0
No es posible dividir entre cero
Introduce dos valores: 20 2
20 / 2 = 10.0

In [34]:
ok = False
while not ok:
    
    try:
        a,b = input("Introduce dos valores: ").split()    
    except ValueError:
        print("No eran dos valores")
        continue
        
    try:
        a, b = int(a), int(b)
    except ValueError:
        print("Alguno no era un número entero")
        continue
        
    try:
        r = a/b
        print(f"{a} / {b} = {r}")
        ok = True
    except ZeroDivisionError:
        print("No es posible dividir entre cero")

Introduce dos valores: 1 2 3
No eran dos valores
Introduce dos valores: 20 hola
Alguno no era un número entero
Introduce dos valores: 20 0
No es posible dividir entre cero
Introduce dos valores: 20 3
20 / 3 = 6.666666666666667

## Iteradores

### Diferencia entre iterable e iterador

In [36]:
lista = [10,20,30]

for x in lista:
    print(x)
print("Segunda vez")
for x in lista:
    print(x)

10
20
30
Segunda vez
10
20
30

In [37]:
lista = [10,20,30]
i = iter(lista)

for x in i:
    print(x)
print("Segunda vez")
for x in i:
    print(x)

10
20
30
Segunda vez

In [39]:
i = iter(lista)
print(type(i))
print(i)

<class 'list_iterator'>
<list_iterator object at 0x00000231A849AD30>

In [40]:
id(i)

2412300053808

In [41]:
i2 = iter(i)

In [42]:
id(i2)

2412300053808

In [43]:
i is i2

True

In [44]:
next(i)

10

In [45]:
next(i)

20

In [46]:
next(i)

30

In [47]:
next(i)

StopIteration:

In [ ]:
"""

for variable in iterable:
    codigo
    
tmp = iter(iterable)
while True:
   try:
       variable = next(tmp)
       codigo
   except StopIteration:
       break

### Puedo tener varios iteradores de un mismo objeto

In [48]:
lista = [10,20,30]
i1 = iter(lista)
i2 = iter(lista)
i1 is i2

False

In [49]:
next(i1)

10

In [50]:
next(i1)

20

In [51]:
next(i2)

10

In [57]:
class Prueba:
    def __iter__(self): # hace que Prueba sea iterable
        return MiIterador() # tiene que devolver un iterador
    
class MiIterador:
    def __next__(self):
        return "hola"
    def __iter__(self):
        return self

In [58]:
p = Prueba()

In [ ]:
for x in p:
    print(x)

In [56]:
iter(p)

TypeError: 'Prueba' object is not iterable

In [77]:
class Rango:
    def __init__(self, n):
        self.n = n
    def __iter__(self): # hace que Prueba sea iterable
        return IteraRango(self) # tiene que devolver un iterador
    
class IteraRango:
    def __init__(self, rango):
        self.rango = rango
        self.contador = 0
        
    def __next__(self):
        if self.contador >= self.rango.n:
            raise StopIteration
        devuelvo = self.contador
        self.contador += 1
        return devuelvo
    
    def __iter__(self):
        return self

In [78]:
for x in Rango(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [79]:
r = Rango(10)

In [80]:
r.n

10

In [81]:
i1 = iter(r)
i2 = iter(r)

In [82]:
next(i1)

0

In [83]:
next(i1)

1

In [85]:
for x in i1:
    print(x)

2
3
4
5
6
7
8
9

In [86]:
lista = [10,20,30,40,50,60,70]
i = iter(lista)
for x in i:
    print('x',x)
    for y in i:
        print('y',y)
        for z in i:
            print('z',z)

x 10
y 20
z 30
z 40
z 50
z 60
z 70

In [88]:
# creo un iterador de una lista y luego modifico la lista a mitad camino:
lista = "esto es una cadena de texto con varias palabras".split()
lista

['esto', 'es', 'una', 'cadena', 'de', 'texto', 'con', 'varias', 'palabras']

In [89]:
i = iter(lista)
for veces in range(4):
    print(next(i))

esto
es
una
cadena

In [90]:
lista.reverse()
lista

['palabras', 'varias', 'con', 'texto', 'de', 'cadena', 'una', 'es', 'esto']

In [91]:
for x in i:
    print(x)

de
cadena
una
es
esto

### Generadores

In [93]:
lista_intensional = [x**2 for x in range(10)]
lista_intensional

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [94]:
generador = (x**2 for x in range(10))
print(generador)

<generator object <genexpr> at 0x00000231A93670B0>

In [95]:
next(generador)

0

In [96]:
next(generador)

1

In [97]:
next(generador)

4

In [98]:
for x in generador:
    print(x)

9
16
25
36
49
64
81

In [99]:
next(generador)

StopIteration:

In [100]:
tuple(x**2 for x in range(10))

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

### Ejemplo de uso de generadores y next

Dada una cadena, encontrar la primera palabra formada por 4 letras

In [103]:
cadena = "en un lugar de la Mancha de cuyo nombre no abcd"

In [104]:
[palabra for palabra in cadena.split() if len(palabra) == 4]

['cuyo', 'abcd']

In [105]:
next(palabra for palabra in cadena.split() if len(palabra) == 4)

'cuyo'

In [107]:
next((palabra for palabra in cadena.split() if len(palabra) == 9),"no hay ninguna")

'no hay ninguna'

In [108]:
"""
El fichero datos.csv contiene:

DNI,EDAD
1234,18
4567,34
9012,42


"""

'\nEl fichero datos.csv contiene:\n\nDNI,EDAD\n1234,18\n4567,34\n9012,42\n\n\n'

In [112]:
with open('datos.csv') as f:
    cabecera = next(f)
    print("La cabecera es:",cabecera)
    for linea in f:
        dni,edad = linea.strip('\n').split(",")
        print(dni,edad)

La cabecera es: DNI,EDAD

1234 18
4567 34
9012 42

## Ejercicio

Tengo una lista python y quiero contar cuántos valores (sin el primero) son iguales al primero de la lista

In [114]:
lista = [10,2,3,10,20,10,5,10]

In [116]:
c = 0
primero = lista[0]
for x in lista[1:]: # problema -> un slice crea una copia
    if x == primero:
        c += 1
c

3

In [117]:
c = 0
i = iter(lista)
primero = next(i)
for x in i:
    if x == primero:
        c += 1
c

3

In [118]:
# Ejercicio slide 214
scores = [100,90,95,90,80,70,0,80,90,90,0,90,100,75,20,30,50,90]

In [119]:
students = [scores[i:i+3] for i in range(0,len(scores),3)]
students

[[100, 90, 95],
 [90, 80, 70],
 [0, 80, 90],
 [90, 0, 90],
 [100, 75, 20],
 [30, 50, 90]]

In [121]:
valid = [s for s in students if 0 not in s]
valid

[[100, 90, 95], [90, 80, 70], [100, 75, 20], [30, 50, 90]]

In [123]:
print("The total number of students is",len(students))
print("The number of students with valid scores is",len(valid))
print(valid)

The total number of students is 6
The number of students with valid scores is 4
[[100, 90, 95], [90, 80, 70], [100, 75, 20], [30, 50, 90]]

In [124]:
i = iter(scores)
n_alumnos = len(scores) // 3
valid = []
for _ in range(n_alumnos):
    student = [next(i) for _ in range(3)]
    if 0 not in student:
        valid.append(student)
valid

[[100, 90, 95], [90, 80, 70], [100, 75, 20], [30, 50, 90]]

# Unit 20

In [3]:
x = 10 # GLOBAL
y = 11
def foo():
    x = 20 # VARIABLE LOCAL A foo
    def bar():
        a = 30 # VARIABLE LOCAL A bar
        print(a,x,y)
    bar()
    x = 40
    bar()
foo()
print("x",x)

30 20 11
30 40 11
x 10

In [7]:
x = 10 # GLOBAL
y = 11
def foo():
    global x
    x = 20 # GLOBAL
    def bar():
        a = 30 # VARIABLE LOCAL A bar
        global x
        x = x + 1
        print(a,x,y)
    bar()
    x = 40 # GLOBAL
    bar()
foo()
print("x",x)

30 21 11
30 41 11
x 41

In [8]:
x = 10 # GLOBAL
y = 11
def foo():
    x = 20 # LOCAL A foo
    def bar():
        a = 30 # VARIABLE LOCAL A bar
        global x
        x = x + 1
        print(a,x,y)
    bar()
    x = 40
    bar()
foo()
print("x",x)

# 30 11 11
# 30 12 11
# 12

30 11 11
30 12 11
x 12

In [10]:
x = 10 # GLOBAL
y = 11
def foo():
    x = 20 # LOCAL A foo
    def bar():
        a = 30 # VARIABLE LOCAL A bar
        nonlocal x # x se refiere a la definida en foo
        x = x + 1
        print(a,x,y)
    bar()
    x = 40
    bar()
foo()
print("x",x)

# 30 21 11
# 30 41 11
# 10

30 21 11
30 41 11
x 10

## Closures (clausuras)

In [11]:
def suma_n(n):
    def funcion(x):
        return x+n
    return funcion

mas5 = suma_n(5)
type(mas5)

function

In [12]:
mas5(2)

7

In [13]:
def suma_n(n):
    return lambda x: x+n

In [14]:
f = suma_n(1234)

In [15]:
f(10)

1244

In [19]:
def genera_contador(): # devuelve una closure
    contador = 0
    def f():
        nonlocal contador
        contador = contador + 1
        return contador
    return f

In [20]:
c = genera_contador()

In [21]:
c()

1

In [22]:
c()

2

In [23]:
c()

3

In [24]:
otro = genera_contador()

In [25]:
otro()

1

### Simular el contador usando clases

In [33]:
class Contador:
    def __init__(self):
        self.contador = 0
    def __call__(self):
        self.contador += 1
        return self.contador

In [34]:
c = Contador()

In [35]:
c()

1

In [36]:
c()

2

In [37]:
c()

3

# Ejercicios

## Ejercicio

Utiliza `try except` para leer todas las palabras de un fichero y sumar aquellas que se pueden convertir a número de tipo float.

El contenido del fichero `'valores.txt'` es:

```
10.5 hola 1.2 gato
20.1 boligrafo 100.25 calculadora 3.3
```

In [42]:
with open('valores.txt') as f:
    suma = 0
    for item in f.read().split():
        try:
            numero = float(item)
            suma += numero
        except:
            pass
            
suma

135.35000000000002

## Ejercicio

Abrir el fichero `'el_quijote.txt'` y obtener la palabra de mayor longitud de cada línea.

Si en una línea hay varias palabras de mayor longitud (empate), devolveremos la que sea mayor alfabéticamente (ej: 'zurrón' gana a 'ganado').

Crear un diccionario donde las claves sean las palabra ganadoras. El valor de cada palabras es una lista de líneas en las que aparece como ganadora.

Al final imprimir todas las palabras que aparezcan como ganadoras en al menos 3 líneas.

In [54]:
import collections, re

In [58]:
d = collections.defaultdict(list)
with open('el_quijote.txt', encoding='UTF-8') as f:
    num_linea = 0
    for linea in f:
        items = re.findall(f'\w+',linea.lower())
        if len(items) > 0:
            ganadora = max(items, key=lambda x:(len(x),x))
            d[ganadora].append(num_linea)
        num_linea += 1
for palabra,lista in d.items():
    if len(lista) >= 3:
        print(palabra, len(lista))

quijote 25
encantamientos 6
pensamiento 11
significativo 3
prevenciones 5
verdaderamente 20
experiencia 9
semejantes 6
estudiante 3
determinacio 6
caballero 18
magnificencia 3
desenvoltura 5
mandamiento 4
intencionado 3
sentimiento 3
prosiguiendo 6
entendimiento 25
licenciado 10
roncesvalles 4
entretenimiento 4
misericordia 4
caballeros 8
ofrecimientos 11
razonamientos 3
inconvenientes 5
conocimiento 9
determinaron 7
desdichado 5
esperanza 5
esperanzas 3
principalmente 8
menesterosos 6
circunstantes 6
espantable 3
verdadera 3
desesperado 3
eternamente 3
acontecimiento 4
pensamientos 14
honestidad 3
imposibilidad 4
maritornes 8
cuadrillero 3
pesadumbre 6
encantados 3
encomendarme 4
contravenir 3
aventuras 4
manteamiento 3
rocinante 12
maldiciendo 4
respondio 124
vuestra 9
distintamente 3
forzosamente 3
especialmente 21
movimientos 5
replico 3
voluntad 3
pasatiempo 3
dondequiera 3
sentimientos 3
principal 3
cristiano 5
pregunto 9
sancho 7
fuertemente 3
pasamonte 3
desembarazado 4
acaecimientos 3
diligencia 4
acostumbrado 3
estrechamente 5
prosigue 3
determinado 3
agradecimiento 4
importancia 7
caballeri 5
respondi 3
blasfemias 3
descubierto 3
desagradecido 4
quienquiera 4
purgatorio 3
muerte 3
quisieres 4
conciencia 3
ausencias 3
toboso 3
penitencia 3
entrambos 3
considerando 3
soneto 8
inconveniente 5
imposibilitado 4
incomparable 3
impertinente 9
prosiguio 6
sobresalto 7
particularmente 4
demostraciones 3
extraordinarios 3
maldiciones 4
micomicona 8
comedimiento 3
respondiese 5
tratamiento 3
menguado 3
entremeterse 3
quitado 3
desgracias 3
vuestras 5
escudero 6
desnudarse 4
desembarco 4
prometido 3
movimiento 3
vituperios 3
palabras 3
desventurado 3
simplicidades 4
conversacio 3
escuchando 4
respondelle 3
encantamentos 5
ventero 3
advertimiento 3
sobresaltada 3
verdaderos 3
encantamento 7
gobernador 3
mentirosos 4
cristiana 4
zoraida 4
consideracio 4
constantinopla 7
cristianos 4
vosotros 3
cabalgaduras 3
representantes 3
cuadrilleros 11
encantado 3
diciplinantes 5
argamasilla 4
epitafio 3

In [50]:
linea = "esto es una prueba zurron"
items = linea.split()
max(items, key=lambda x:(len(x),x))

'zurron'